@media screen and (max-width: 30rem) {
  .container {
    width: 95% !important;
    margin-top: 1.25rem !important;
  }
}

.rounded-pill {
  border-radius: 3.125rem !important;
}

.div-sign-up {
  min-height: 36.5rem;
  background: no-repeat center/cover url("../img/fondo.jpeg");
}

@media screen and (max-width: 48rem) {
  .div-sign-up {
    min-height: 25rem;
  }
}

.btn{
  transition: all .3s ease-in-out;
}

.btn-form {
  border: 30px #ffc319 !important;
  -webkit-box-shadow: 5px 5px 14px -4px #000000;
  box-shadow: 5px 5px 14px -4px #000000;
}

.btn-form:hover {
  background-color: transparent !important;
}

.btn-login {
  min-width: 12.5rem;
  -webkit-box-shadow: 5px 5px 50px 4px #000000; 
  box-shadow: 5px 5px 14px -4px #000000;
}

.btn-login:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.btn-form {
  border: 30px #ffc319 !important;
  -webkit-box-shadow: 5px 5px 14px -4px #000000;
  box-shadow: 5px 5px 14px -4px #000000;
}

.btn-form:hover {
  background-color: transparent !important;
}

.text-size{
  font-size: 20px;
}

.shadow{
  -webkit-box-shadow: 5px 5px 14px -4px #000000; 
  box-shadow: 5px 5px 14px -4px #000000;
}

.text-size-r{
  font-size: 15px;
  transform: scale(0.9);
}

.col-cards{
  display: flex;
  flex-wrap: wrap;
}

thead{
  background-color: rgb(223, 223, 223);
}

.table:hover{
  background-color: rgb(243, 243, 243);
}